<ul class="list-group">
  {% for item in items %}
  {% if loop.first or item.category != items[loop.index0 - 1].category %}
  <li class="list-group-item category-header">{{ item.category }}</li>
  {% endif %}
  <li class="list-group-item d-flex">
    <div class="col-1 d-flex align-items-center justify-content-center">
      <button class="btn btn-outline-success rounded" hx-get="{{ url_for('remove_item', removed_item=item.name) }}"
        hx-target="#items-container" hx-swap="innerHTML" hx-include="#store"
        style="width: 1.5em; height: 1.5em; line-height: 1;">
      </button>
    </div>
    <span class="col-1 d-flex justify-content-center">
      {% if item.quantity > 1 %}
      {{ item.quantity }}
      {% endif %}
    </span>
    <span class="col">
      {{ item.name }}
    </span>
  </li>
  {% endfor %}
</ul>