{% extends "base.html" %}

{% block content %}
<div class="container" style="max-width: 540px">

  <!-- Store selection using standard form submission -->
  <form method="GET" action="{{ url_for('category_order') }}" autocomplete="off">
    <select name="store" id="store" class="form-select mb-1" onchange="this.form.submit()">
      {% for store in stores %}
      <option value="{{ store.id}}" {% if store.id==selected_store %}selected{% endif %}>{{ store.name }}
      </option>
      {% endfor %}
    </select>
  </form>

  <button hx-put="{{ url_for('category_order')}}" hx-swap="none" hx-include="#category-form, #store"
    class="btn btn-success w-100">Save</button>

  <h4>Category order</h4>
  <!-- categories-->
  <form id="category-form">
    <ul class="list-group" id="category-list">
      {% for association in associations %}
      <li class="list-group-item d-flex">
        {{ association.category.name }}
        <input type="hidden" name="category_id" value="{{association.category.id}}">
      </li>
      {% endfor %}
    </ul>
  </form>

</div>

<!-- Sortable js-->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
<script>
  var categoryList = document.getElementById('category-list');
  var sortable = Sortable.create(categoryList, {
    animation: 150,
  })
</script>


{% endblock content %}