{% extends "base.html" %}

{% block content %}
<div class="container" style="max-width: 540px">
  <h2 class="text-center">Handle</h2>

  <!-- Store selection -->
  <form hx-get="{{ url_for('items_partial') }}" hx-target="#items-container" hx-swap="innerHTML"
    hx-trigger="change from:#store" autocomplete="off">
    <select name="store" id="store" class="form-select mb-1">
      {% for s in stores %}
      <option value="{{ s.name }}" {% if s.name==store %}selected{% endif %}>{{ s.name }}</option>
      {% endfor %}
    </select>
  </form>

  <!-- Add item -->
  <form id="add-item-form" class="sticky-top d-flex justify-content-between mb-4" hx-post="{{ url_for('add_item') }}"
    hx-target="#items-container" hx-swap="innerHTML" hx-on--after-request="this.reset()" hx-include="#store">
    <input type="text" name="item" id="item-input" class="form-control" placeholder="Tilføj en vare" required>
  </form>

  <!-- Shopping list -->
  <div id="items-container">
    {% include '_items.html' %}
  </div>

  <!-- Mobile button -->
  <button
    class="mobile-button btn btn-success position-fixed text-white d-flex justify-content-center align-items-center rounded-circle d-lg-none"
    onclick="document.getElementById('item-input').focus();">
    +
  </button>

</div>
{% endblock content %}